/**
* @file
* @brief    hoverplus lightweight pop-up window on mouse-over
* @author   Levente Hunyadi
* @version  $__VERSION__$
* @remarks  Copyright (C) 2011 Levente Hunyadi
* @see      http://hunyadi.info.hu/projects/hoverplus
*/

#hoverplus {
border:thin solid gray;
background:black url(loading-black.gif) no-repeat scroll center center;
color:white;
}