/**
* @file
* @brief    captionplus mouse-over image caption engine stylesheet
* @author   Levente Hunyadi
* @version  $__VERSION__$
* @remarks  Copyright (C) 2009-2017 Levente Hunyadi
* @see      http://hunyadi.info.hu/projects/
*/

/* Custom styling */
.captionplus-outside,
.captionplus-overlay {
padding:4px !important;
text-align:center !important;
}

.captionplus-overlay {
left:2px !important;
right:2px !important;
min-height:30% !important;
}

.captionplus-bottom {
bottom:2px !important;
}

.captionplus-top {
top:2px !important;
}

/* Generic styling */
.captionplus {
display:inline-block !important;
position:relative !important;
line-height:normal !important;
}

.captionplus-outside,
.captionplus-overlay {
display:flex !important;
align-items:center !important;
padding:0 !important;
overflow:hidden !important;
}

/* caption that displays over image */
.captionplus-overlay {
position:absolute !important;
background-color:black !important;  /* fall-back setting, overridden for IE */
background-color:rgba(0,0,0,0.6) !important;  /* overridden for IE */
color:white !important;
}

.captionplus > .captionplus-overlay.captionplus-mouseover {
visibility:hidden !important;
}

.captionplus:hover > .captionplus-overlay.captionplus-mouseover {
visibility:inherit !important;
}

/* horizontal and vertical caption alignment */
.captionplus-align {
display:flex !important;
width:100% !important;
height:100% !important;
white-space: normal !important;
}

.captionplus-align > * {
max-width: 100% !important;
}

.captionplus-horizontal-center {
justify-content:center !important;
}

.captionplus-horizontal-start {
justify-content:flex-start !important;
}

.captionplus-horizontal-end {
justify-content:flex-end !important;
}

.captionplus-vertical-center {
align-items:center !important;
}

.captionplus-vertical-start {
align-items:flex-start !important;
}

.captionplus-vertical-end {
align-items:flex-end !important;
}

/* buttons inside image caption */
.captionplus-button {
background:transparent none no-repeat center center !important;
display:inline-block !important;
height:16px !important;
width:16px !important;
min-height:16px !important;
min-width:16px !important;
margin:2px !important;
cursor:pointer !important;
}

.captionplus-button.captionplus-metadata {
background-image:url(camera.png) !important;
}

.captionplus-button.captionplus-download {
background-image:url(disk.png) !important;
}